*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
        html {  scroll-behavior: smooth;  }

.container {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
        flex-shrink: 0;  
    }

.wrapper {
  display: block;
    width: 100%;
    min-height: 100vh;  
  height: auto;   
    top:0px;    left:0;
        overflow: hidden;
}
.slide1 {
    width:100%;
    height: 100vh;  
    border-radius: 10px;
    position: relative;   top:0;   
    overflow: hidden;
}

.slide1::after {
    content: "";
    position: absolute;     top:0;
    left:-100%; width: 50%;
    height: 100vh;
    background: linear-gradient(to right, rgba(255, 255, 255, 0 )0%, rgba(255, 255, 255, 0.3)100%);
    transform: skewX(-25deg);
    transition: all 1.5s ease;
}
.slide1:hover::after {
    left: 100%;
}
 .simg {
    width: 100%; 
    height:100vh;  
    position: relative;       
        background: transparent; 
        cursor: pointer; 
}
img::before, img::after {
    content:"";
    position: absolute; 
}

#fb1::after {
    left:-50%; top:0;  height: 100%;   width: 0;
    transform: skew(30deg);
    transition-duration: 1.1s; 
    transform-origin: top left;
}


.quote {
    position: absolute; 
    top:80%;  right:-45%;
    width: 45%;
    padding:1rem;
    display: inline-block ;
    background: transparent;
    backdrop-filter: brightness(50%);
    transform:translateY(-50%);  
    transform: translate(5px);
    transition: right 0.5s ease;
  
    h2 {color:white; font-size: 1rem; }  
    p {color:grey;  }
    .dm {
        position: absolute;
        top:1%; right:2%;
        
        padding: 0.625rem;
        margin: 0.9375rem 0;
        font-size: 2.446043vh;
        border-radius: 0.625rem;
        display: block;         
    }
    .dm a{  color:black; }

}
.wrapper:hover .quote { right:20px; }


/* ///////////TOGOLOGO////////////// */



.logo {
    position: fixed;   top:10%;
    width: 18%;
    padding: 0.2rem;
    background: transparent;
    backdrop-filter: brightness(50%);

     .mb {display: none;}
     h5 {
        position: relative;     left:25%;
        font-size: 2.1875rem;
        color:goldenrod;
     }
     .para {
        font-size: 0.9375rem;
        letter-spacing: 0.75rem;
        color:grey;

        text-transform: uppercase;
    }
}

/* ///////////NAVBAR////////////// */

.navbar {
  max-width: 100%;
  width:53%;
  padding: 1rem;
 display:flex;
 margin-right: 1.5625rem;
 background: transparent;
 backdrop-filter: brightness(50%);
  align-content: center;
 justify-content: space-evenly; 
  color: #fff;
  position: fixed; top:10%;   left:45.7%;

}
.nav-links {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.menu-icon, .close-icon{
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}
    .lg1 { display: none;    }
    
#menu-toggle, .mb {
  display: none;
}


/* ////////ANCHOR TAG STYLE///////// */

a {
  text-decoration: none;  
  display: flex;
  position: relative;
  color:white;  
}

.a1:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  top:100%;
  content: "";
  height: 2px;
  left: 50%;
  position: absolute;
  background: white;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after { 
  width: 100%;  
  left: 0; 
}
.navbar a:hover {    
    transition: all 300ms ease;
}





@media  (max-width: 768px) {

  .logo, .slide {  display: none; }

 /* /////////NAVBAR//////// */

  .lg1{
    position: fixed; top:-10%;
    display: inline-block;  
    text-align: center;
    padding-left:30%;
    font-size: 2.5rem;
    color:goldenrod;
  }

 .navbar {
  position: fixed;
  left:0;   right:0;
   top:2%;
       width:100%; height:2.5rem;
    color:black;
    justify-content: flex-start;
    align-items: flex-start;
    background: transparent;
  }
  .nav-links {
    position: fixed;
    top: 0;
    left: -100%; 
    height: 80vh;
    width: 250px;
     padding-top: 30px;
    margin-top: 45px; 
    background: #444;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: left 0.3s ease;
    overflow: hidden;
  }

.nav-links a{

        display: block;
        width: 100%;
        line-height: 60px;
        text-decoration: none;
        padding-left: 10px;
        color:white;        
        box-sizing: border-box;       
        transition: 0.5s;
        transition-property: background; 
    } 
    .nav-links a:hover {
        width:100%;
        background:skyblue;
        box-shadow:2px 2px 15px whitesmoke;
        }

  #menu-toggle:checked ~ .nav-links {
    left: 0;
  }

  .menu-icon {
    display:block;
    position: fixed;
  top: 10px;
  left: 20px;
  z-index: 2000;
    font-size: 1.3rem;
    color: #fff;
  }

  .close-icon {
    display: block;
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
  }
  
/* //////////////////////////////// */

  .container {
     width: 100%;
      min-height: 200vh;  
  height: auto;
  display: flex;
  flex-wrap: wrap; 
  flex-shrink: 0;

}

  .wrapper {
    position: relative;
    width: 100%;
    min-height: 200vh;  
  height: 100%;
    top:0px;    left:0;
        overflow: hidden; 
}

  .slide {
    display: flex;
    flex-direction: column;
  }

  .quote {
        position: absolute;   
       top:80%;  right:-110%;
        width: 90%;          
        margin: 0 5rem; 
        padding: 0.75rem;
        display: inline-block ;
    background: transparent;
    backdrop-filter: brightness(50%);
        transform:translateY(50%);  
    transform: translate(5px);
    transition: right 1s ease;
    /* overflow: hidden; */
          border:2px solid greenyellow;       


    }

    .quote h2 {
        font-size: 1.3rem;    
    }
     .quote p {
        font-size: 1rem; color: white;
    }

    .quote .dm {
        position: static;     
        margin: 0.5rem auto;
        font-size: 1rem;      
        display: inline-block;
    }

    .wrapper:hover .quote { 
        right: -18%;         
    }


}



